/*colors*/
:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}
[data-theme='dark'] {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}
/*global styles*/
* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: var(--body-text);
}
body {
  background-color: var(--bg_body);
  width: 100%;
  min-height: 100vh;
}
.container {
  padding-inline: 4%;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .container {
    padding-inline: 4%;
  }
  .light-button {
    padding: 4px 10px;
    height: auto;
  }
  .cross-design {
    height: 30px !important;
  }
  .design-section .design-section-text {
    width: 90% !important;
    top: 10px !important;
    padding-bottom: 30px;
  }
}
img {
  object-fit: cover;
}
.text-overflow-hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow-wrap {
  overflow-wrap: break-word;
}
.light-button {
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var(--bg_default);
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px 10px 5px 10px;
}
/*header styles*/
.header-container {
  background-color: var(--bg_default);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header-container h1 {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--brand-primary);
}
.header-container>a {
 text-decoration: none;
}
.header-buttons {
  display: flex;
  gap: 4px;
}
@media only screen and (max-width: 600px) {
  .header-buttons p {
    display: none;
  }
}
/* cross design section */
.cross-design {
  position: relative;
  width: 100%;
  height: 80px;
}
.cross-top {
  clip-path: polygon(0 0, 0 100%, 90% 0);
  position: absolute;
  background: linear-gradient(
    to Right,
    var(--brand-primary),
    var(--brand-secondary) 100%
  );
}
@media only screen and (max-width: 600px) {
  .cross-top {
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }
}
.cross-bottom {
  clip-path: polygon(100% 0, 0 0, 100% 96%);
  position: absolute;
  background: var(--brand-secondary);
}
.design-section {
  background-color: var(--bg_default);
}
.design-section h1 {
  color: var(--brand-secondary);
  font-size: 1.3rem;
}

.design-section .design-section-text {
  position: relative;
  top: -22px;
  margin-left: auto;
  margin-right: auto;
  width: 31%;
  line-height: 20px;
}
@media only screen and (max-width: 600px) {
  .cross-design {
    height: 30px !important;
  }
  .design-section .design-section-text {
    width: 90% !important;
    top: 10px !important;
    padding-bottom: 30px;
  }
}
/*footer*/
footer {
  justify-content: center;
  gap: 4px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--body-text);
  margin-top: 40px;
  margin-bottom: 30px;
}
footer ion-icon {
  color: var(--heart-color);
  width: 1.2em;
  height: 1.2em;
}

/*favourate slide */
.favourite-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--bg_default);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 15px;
}
.favourite-container > h1 {
  font-size: 1rem;
  padding-bottom: 15px;
}
.favourite-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.favourite-card {
  width: 130px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.favourite-card > .details > h1 {
  color: var(--body-text);
  font-size: 1rem;
  padding-left: 5px;
  padding: 0;
}
.favourite-card img {
  width: 100%;
  height: 70px;
}
.favourite-card .details {
  height: 45%;
  padding-inline: 10px;
}
/*rating icons style*/
.rating ion-icon {
  color: #d79500;
}
.rating {
  display: flex;
}
