/*form style*/
form {
  background-color: var(--bg_default);
  border-radius: 10px;
}
.search-container {
  flex-grow: 8;
}
.search-input {
  border: none;
  font-size: 1.1rem;
  background-color: var(--bg_default);
  color: var(--body-text);
}
select {
  border: none;
  font-size: 1.1rem;
  color: var(--body-text);
  background-color: var(--bg_default);
}

label {
  color: var(--body-text);
  font-size: 0.8rem;
  padding-left: 5px;
}
.select-box {
  position: relative;
  border-left: 1px solid var(--lines-color);
}
.select-box-content {
  padding-inline: 10px;
}
/*content style*/
.container-content > h1 {
  font-size: 1.5em;
}
.course-card {
  background-color: var(--bg_default);
}
.course-card > img {
  width: 100%;
  height: 150px;
  background-color: white;
}
.details-container > .author-name {
  font-weight: 400;
  font-size: 0.9rem;
  color: #808080b8;
}
.details-container > h1 {
  height: 45px;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  color:var(--body-text)
}
.details-container > .topic {
  font-size: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .search-container {
    border-bottom: 1px solid var(--lines-color);
    height:60px;
  }
  .select-container .select-box:first-child {
    border: none;
  }
  .course-card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .course-card img {
    width: 100%;
    height: 170px;
  }
}