* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: var(--body-text);
}
body {
  background-color: var(--bg_body);
  width: 100%;
  min-height: 100vh;
}
/*global styles*/
.container {
  padding-inline: 5%;
  @media only screen and (max-width: 600px) {
    padding-inline: 4%;
  }
}
.Light-button {
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  height: 25px;
  align-items: center;
  background-color: var(--bg_default);
  display: flex;
  gap: 4px;
  @media only screen and (max-width: 600px) {
    padding-inline: 8px;
  }
}
/*style of header*/
header {
  height: 70px;
  @media only screen and (max-width: 600px) {
    height: 70px;
  }
}

.header-container {
  background-color: var(--bg_default);
  display: flex;
  justify-content: space-between;
  color: var(--brand-primary);
  align-items: center;
}
.header-container h1 {
 font-size: 16px;
 font-weight: 400;
  color: var(--brand-primary);
}
.header-buttons {
  display: flex;
  gap: 4px;
}
.header-buttons p {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.header-buttons button ion-icon {
  color: var(--body-text);
}
/*content style*/
.banner {
  background-color: var(--bg_default);
  padding-bottom: 30px;
}
.banner h1 {
  color: var(--brand-secondary);
  font-size: 20px;
}

.banner .text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 20px;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
.wave-design {
  position: relative;
  width: 500px;
  height: 30px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    height: 30px;
  }
}
.wave-bottom{
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-top: 70px solid var(--brand-primary);
  position: absolute;
  @media only screen and (max-width: 600px) {
    border-top: 25px solid var(--brand-primary);
    top: 0px;
  }
}
.wave-above {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-top: 70px solid var(--brand-secondary);
  position: absolute;
  @media only screen and (max-width: 600px) {
    border-top: 25px solid var(--brand-secondary);
  }
}
/*style of container of form and content*/
.container-of-content{
  padding-top:20px;
  @media only screen and (max-width: 600px) {
    padding-top:20px;
  }
}
.container-of-content > h1{
  color: var(--body-text);
  margin-bottom: 25px;
  padding-top: 15px;
}
/*form style*/
form{
  @media only screen and (min-width: 600px) {
    display: flex;
    align-items: stretch;
    height:50px
  }
  
}
.search-div {
  position: relative;
  height: 100%;
  @media only screen and (min-width: 600px) {
    flex-grow: 8
  }
}
.search-div ion-icon{
  position: absolute;
  left: 10px;
  top:38%;
}
#search-input {
  padding: 0;
  background-position: 10px center;
  border: none;
  padding-top: 20px;
  padding-bottom: 15px;
  height:100%;
  font-size: 16px;
  width:100%;
  padding-left: 30px;
  background-color: var(--bg_default);
  color:var(--body-text);
  border-top-left-radius:14px;
  border-bottom-left-radius:14px;
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 600px) {
    width:100%;
    border-bottom-left-radius:0px;
    border-top-right-radius:14px;
    border-bottom: 1px solid var(--lines-color);
  }
}
.select-container{
  display: flex;
  margin-bottom: 20px;
  height: 100%;
  @media only screen and (min-width: 600px) {
    flex-grow: 2
  }
 
}
select{
  border: none;
  font-size: 16px;
  width: 100%;
  height:100%;
  padding-top: 25px;
  padding-left: 5px;
  color:var(--body-text);
  background-color: var(--bg_default);
  @media only screen and (max-width: 600px) {
    width:100%;
  }

}
#filterBy{
  border-bottom-right-radius:14px;
  border-top-right-radius:14px;
  box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 600px) {
    border-top-right-radius:0px;
  }
}
#sortBy{
  border-bottom-left-radius:0px;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--lines-color);
  @media only screen and (max-width: 600px) {
    border-bottom-left-radius:14px;
  }
}
label{
  position: absolute;
  left: 8px;
  top:6px;
  color:var(--body-text);
  font-size: 12px;
}
.select-div{
  position: relative;
  width: 100%;
  height: 100%;
}
/*content style*/
.rating {
  padding-top: 22px;
  padding-bottom: 5px;
  display: inline-block;
}

#courses{
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}

.course-card {
  background-color: var(--bg_default);
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  width:18%;
  height:280px;
  @media only screen and (max-width: 600px) {
    margin: 0;
    width: 100%;
    height:330px;
  }
}
.details-container {
  padding-left: 10px;

}
.details-container h1,p{
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.course-card img {
  width:100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    height: 170px;
  }
}
.star ion-icon{
  color:#DB7210;
  font-size: 20px;
}

/*footer style*/
footer {
  justify-content: center;
  gap: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--body-text);
  padding-top: 20px;
  padding-bottom: 20px;
}
footer ion-icon {
  color: var(--heart-color);
  width: 1.2em;
  height: 1.2em;
}

/*favourate slide */
#Favourite {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg_default);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 10px;
}
#Favourite h1 {
  font-size: 16px;
  padding-bottom: 10px;
}
#FavouriteItems {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.favourite-box {
  width: 110px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.favourite-box h1 {
  color: var(--body-text);
  font-size: 12px;
  padding-left: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favourite-box img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
