/*Details page style*/
.detailsPage{
  background-color: var(--bg_body);

}
.details-page-container{
    padding: 0 43% 0 19%;
  }
  .summary-box > .category {
    color: var(--brand-secondary);
    font-size: 1rem;
  }
  .summary-box > .name {
    font-size: 1.4em;
  }
  .summary-box > .details {
    font-size: 1em;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .course-name {
    font-size: 1em;
    color: black;
  }

  .credites-text {
    text-align: center;
    font-weight: 200;
    font-size: 0.8em;
    padding-top: 8px;
    color: grey;
  }
 
  @media only screen and (max-width: 900px) {
    .side-card {
      position: static !important;
    }
    .details-page-container {
      padding: 0 10px 10px 10px;
    }
  }