/*Details page style*/
.detailsPage{
  background-color: var(--bg_body);

}
.details-page-container{
    padding: 0 43% 0 19%;
  }
  .summary-box > .category {
    color: var(--brand-secondary);
    font-size: 1rem;
  }
  .summary-box > .name {
    font-size: 1.4em;
  }
  .summary-box > .details {
    font-size: 1em;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .side-card {
    width: 320px;
    background-color: white;
    top: 30px;
    left: 59%;
    border: 2px solid white;
  }
  .sidecard-image-container img {
    height: 220px;
  }
  .side-card-details-container{
  padding: 25px 15px 15px 15px;
  }
  .course-name {
    font-size: 1em;
    color: black;
  }
  .course-name-author {
    display: flex;
    gap: 5px;
    color: black;
  }
  .author-name {
    text-decoration: underline;
    color: blue;
  }
  .side-card-box {
    margin-top: 10px;
    border: 1px solid #dddddd;;
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .side-card-content{
    display: flex;
    flex-direction: column;
  }
  .side-card-box p {
    color: black;
  }
  .side-card-button {
    height: 50px;
    background-color: var(--brand-secondary);
    border: none;
    font-size: 1.3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .side-card-button ion-icon {
    color: white;
    font-size: 1.4em;
  }
  .credites-text {
    text-align: center;
    font-weight: 200;
    font-size: 0.8em;
    padding-top: 8px;
    color: grey;
  }
  .topic-tabel {
    table-layout: fixed;
    border: 1px solid var(--lines-color);
    min-height: 50px;
    background-color: var(--bg_body);
    color: var(--body-text);
    border-collapse: separate;
  }
  .table > :not(caption) > * > *{
    background-color: var(--bg_default);
    color: var(--body-text);
  }
  
  tr:last-child td{
    border-bottom: none;
  }
  td p {
  width: 93%;
  text-overflow: ellipsis;
  overflow: hidden;
  }
  td{
    background-color: var(--bg_body);
  }
  td ion-icon {
    color: var(--brand-secondary);
    font-size: 1.6rem;
    width:7%;
  
  }
  @media only screen and (max-width: 900px) {
    .side-card {
      position: static !important;
    }
    .details-page-container {
      padding: 0 10px 10px 10px;
    }
  }